.header {
    width: 100%;
    height: auto;
    position: absolute;
}
.header__container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    align-items: center;
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 25px;
    @media screen and (max-width: 1000px) {
        border-bottom: 1px solid #E9ECF5;
        height: 60px;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }
}
.header__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all ease .5s;
   
    &.mobile {
        @media screen and (max-width: 1000px) { 
            transform: translateX(0);
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
    }


    @media screen and (max-width: 1000px) { 
        transform: translateX(50%);
        opacity: 0;
        pointer-events: none;
        visibility: none;

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
}
.header__nav-items {
    max-width: 545px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1000px) { 
        max-width: 100%;
        margin-top: 60px;
        flex-direction: column;
    }
}
.header__nav-item {
    list-style: none;
    @media screen and (max-width: 1000px) { 
        padding: 29px;
        border-bottom: 1px solid #E9ECF5;
        width: 100%;
        text-align: center;
    }
}
.header__nav-link {
    text-decoration: none;
    font-weight: 350;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0%;
    color: #72727E;
    transition: color ease .5s;
}
.header__nav-link:hover {
    color: #446DF6;
}

