.footer {
    margin-top: 25px;
    width: 100%;
    height: auto;
    background-color: #141B41;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    padding: 25px 20px;
    margin: 0 auto;
}
.footer__nav {
    width: 100%;
    max-width: 570px;
}
.footer__nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav-item {
    list-style: none;
}
.footer__nav-link {
    text-decoration: none;
    font-weight: 350;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0%;
    color: #E9ECF5;
    transition: color ease .5s;
}
.footer__nav-link:hover {
    color: #446DF6;
}