.blue-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0%;
    background-color: #446DF6;
    padding: 18px 51px;

    border-radius: 6px;
    border: none;
    color: #fff;

    transition: opacity .5s ease;
}

.blue-btn:hover {
    opacity: .8;
}